.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .col {
        position: relative;
        top: 0;
        padding: 20px;
        width: calc(33% - 10px);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        background-color: var(--color-white);
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);

        .icon {
            font-size: 40px;
            margin-bottom: 20px;
            color: var(--color-orange);
        }

        .title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            color: var(--color-blue);
        }

        &:hover {
            top: -5px;

            .icon {
                color: var(--color-blue);
            }

            .title {
                color: var(--color-orange);
            }
        }
    }
}